.Rproj.user
.Rhistory
.RData
.Ruserdata
/Presentation/IntroductionLogisticRegression_Week4.pptx
./Archive/*
0_IntroToLogisticRegression.Rmd
1_Addax_DistributionModel.Rmd
2_Addax_DistributionModel.Rmd
*.Rmd
Week4_Assignment.Rmd
Addax_DistributionModel.Rproj
Week4_Assignment.Rmd
/Data/info
/Data/srtm_30m
/Data/Rough_Sub.tif
/Data/Clipped_Add_csvFile.csv
/Data/Bolger.txt
srtm_39_09.hdr
srtm_39_09.tfw
srtm_39_09.tif
gadm36_NER_0_sp.rds
invlogit.JPG
logregeq.JPG
BolderStudyArea.JPG
IntroToDataAnalysis_Picture1.png
Addax_DistributionModel.Rproj
*.jpg
