.Rproj.user
.Rhistory
.RData
.Ruserdata
/Presentation/IntroductionLogisticRegression_Week4.pptx
/Presentation/IntroductionLogisticRegression_Week4b.pptx
0_IntroToLogisticRegression.Rmd
1_Addax_DistributionModel.Rmd
2_Addax_DistributionModel.Rmd
Week4_Assignment.Rmd
Addax_DistributionModel.Rproj
Data/info
/Data/srtm_30m
/Data/srtm_30m.aux.xml
/Data/Rough_Sub.tif
/Data/Clipped_Add_csvFile.csv
/Data/Bolger.txt
Archive/
HomeworkStudents/
srtm_39_09.hdr
srtm_39_09.tfw
srtm_39_09.tif
gadm36_NER_0_sp.rds
invlogit.JPG
logregeq.JPG
BolderStudyArea.JPG
IntroToDataAnalysis_Picture1.png
Addax_DistributionModel.Rproj
*.jpg
Export_to_R.R

